*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}